.topnav {
    background-color: hsla(0,0%,0%, 0.4);
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: none;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {    			
 		background-color: black;
 		color: black;
 }

.topnav a:not(.active) {display: none;}
  				

@media screen and (max-width: 8.5in) {
    .topnav a:not(.active) {display: none;}
    .topnav a.icon {
      float: left;
      display: block;
    }
    .topnav a {
      float: none;
      text-align: center;
    }
}
 